### 예외처리

1. try, except
2. raise Exception
3. except Exception as e

In [1]:
try:
    # 오류가 날 수도 있는데 한 번 해봐

IndentationError: expected an indented block (1995155994.py, line 2)

## 1. try, except

In [3]:
for i in range(10):
    try:
        print(1/(i-7))
    except:
        print("{}번 째 반복에서 오류 발생. 확인해.".format(i))

-0.14285714285714285
-0.16666666666666666
-0.2
-0.25
-0.3333333333333333
-0.5
-1.0
7번 째 반복에서 오류 발생. 확인해.
1.0
0.5

## 2. raise Exception

In [5]:
a = int(input("30의 배수 입력: "))
if a%30 != 0:
    raise Exception("30의 배수를 입력하라니깐..")
else:
    pass

30의 배수 입력: 22

Exception: 30의 배수를 입력하라니깐..

## 3. except Exception as e

In [7]:
try:
    a = int(input("30의 배수 입력: "))
    print(a)
except Exception as e:
    # 그냥 except만 쓰는거랑 같음,,,만약 print를 하지 않고 pass르르 하면...
    print("30의 배수를 입력하라니깐..", e)
    
print(1 + 2)

30의 배수 입력: dskdk
30의 배수를 입력하라니깐.. invalid literal for int() with base 10: 'dskdk'
3

In [10]:
d = {"key" : "value"}
type(d)

dict

## dictionary사용
- key는 중복될 수 없다. 
- key는 수정x, value는 수정 가능.
- key의 순서는 중요하지 않지만, value의 순서는 중요.
- 슬라이싱 잘 안됨.

### 출석부를 만들어 보자

In [11]:
csb = {"name":["홍길동","김철수","김영희"], "성별": ["male", "male", "female"]}

In [12]:
csb[0]
# key로 불러야됨

KeyError: 0

In [15]:
csb["name"]
csb["성별"]

['male', 'male', 'female']

In [16]:
csb["나이"] = [20, 27, 10, 40]
csb

{'name': ['홍길동', '김철수', '김영희'],
 '성별': ['male', 'male', 'female'],
 '나이': [20, 27, 10, 40]}

In [17]:
del csb["나이"]
csb

{'name': ['홍길동', '김철수', '김영희'], '성별': ['male', 'male', 'female']}

In [18]:
csb.keys()

dict_keys(['name', '성별'])

In [20]:
csb.values()

dict_values([['홍길동', '김철수', '김영희'], ['male', 'male', 'female']])

In [21]:
for key in csb.keys():
    print(key)
# for문이 먹힌다.

name
성별

In [22]:
for key in csb.values():
    print(key)
# for문이 먹힌다.

['홍길동', '김철수', '김영희']
['male', 'male', 'female']

In [23]:
for key, value in csb.items():
    print(key, value)

name ['홍길동', '김철수', '김영희']
성별 ['male', 'male', 'female']

In [24]:
csb.clear()
# 내용 지우기..
csb

{}

In [ ]:
score = {'berry':{'수학':99, '영어':100, '국어':80},
         'ree': {'수학':40, '영어':80, '국어':90},
         'ftee': {'수학':50, '영어':70, '국어':100}}

In [37]:
math = []
eng = []
kor = []

for i in score.values():
    math.append(i["수학"])
    eng.append(i["영어"])
    kor.append(i["국어"])
    
score["평균"]: {"수학": sum(math)/len(math), "영어": sum(eng)/len(eng), "국어":sum(kor)/len(kor)}
score

{'berry': {'수학': 99, '영어': 100, '국어': 80},
 'ree': {'수학': 40, '영어': 80, '국어': 90},
 'ftee': {'수학': 50, '영어': 70, '국어': 100}}

In [35]:


score["평균"] = ['수학':sum('수학'.value())/len('수학'),
                 '영어':sum('영어'.value())/len('영어'), 
                 '국어':sum('국어'.value())/len('국어')]
score

SyntaxError: invalid syntax (896043726.py, line 5)