In [6]:
for i in range(4, 11, 3):
    # range(start, end, steps(얼마나 건너 뛰느냐))
    print(i)

4
7
10

In [8]:
name = ['err', 'mike', 'ga', 'ra', 'te']
print(len(name))
# len(리스트) : 리스트에 있는 문자열 개수 출력

5

In [9]:
a = []

In [10]:
b = ()

In [11]:
len(b)

0

- 리스트는 튜플과 달리 수정이 가능하다. 
1. 원소의 추가
2. 원소의 삭제
3. 원소의 교체
4. 원소의 재정렬

### 원소의 추가
- append는 맨 뒤에 추가
- insert는 원하는 자리에 삽입 가능.

In [12]:
a1 = [1, 2, 3, 4, 5]
a1.append(7)
# append: 리스트에서 원소를 추가할 때 쓰는 명령어 
a1

[1, 2, 3, 4, 5, 7]

In [13]:
a1.insert(0, 8)
# insert(들어갈 자리, 넣을 숫자)
a1

[8, 1, 2, 3, 4, 5, 7]

### 원소의 삭제

In [14]:
a1.remove(8)
# remove: 지울 원소를 직접적으로 선언
# (): 지울 원소 
a1

[1, 2, 3, 4, 5, 7]

In [15]:
del a1[5]
# del: 지울 원소가 위치한 자리 
# []: 자리 번호
a1

[1, 2, 3, 4, 5]

### 원소의 교체

In [16]:
# a1.replace
# replace: 문자열에서만 사용 가능하다. 
a1[0] = 7
# 리스트에서는 원소 교체할 때 리플레이스 사용X. 
# 들어갈 자리 지정, 그 자리에 들어갈 원소 선언
a1

[7, 2, 3, 4, 5]

### 원소의 재정렬

In [19]:
a1.sort()
a1

[2, 3, 4, 5, 7]

In [17]:
a1.sort(reverse = True)
a1

[7, 5, 4, 3, 2]

In [18]:
a1.reverse()
a1

[2, 3, 4, 5, 7]

### 원소 확인

In [20]:
2 in a1

True

### while문

In [22]:
n = 1
while n < 3:
    # while문은 몇 번 시도하는지 해봐야 안다. 
    print("파이썬 쉽다.")
    n += 1

파이썬 쉽다.
파이썬 쉽다.

In [23]:
z = [1, 2, 3, 4, 5, 1, 1,1, 8, 9, 6, 7]

In [24]:
z.remove(1)
# 1이 여러 개인 경우 맨 앞의 1만 지운다.

In [25]:
z

[2, 3, 4, 5, 1, 1, 1, 8, 9, 6, 7]

In [27]:
z = [1, 2, 3, 4, 5, 1, 1,1, 8, 9, 6, 7]
while 1 in z:
    z.remove(1)
z

[2, 3, 4, 5, 8, 9, 6, 7]

### for문
- for k in [](리스트 가능)
- for k in ""(문자열 가능)
- for k in 인덱싱이 가능한 자료형:

In [38]:
a = [1, 2, 3, 4, 5]
b = [1, 2, 3, 4, 6]
c = []

for i in range(len(a)):
    c.append(int(a[i] == b[i]))
c

[1, 1, 1, 1, 0]

In [56]:
a = [1, 2, 3, 4, 5]
b = [1, 2, 3, 4, 6]
c = [a[i] == b[i] for i in range(len(a))]
c

[True, True, True, True, False]

In [33]:
c = []

In [34]:
enumerate(a)
# 리스트에 인덱스 번호를 같이 붙힌다.

In [35]:
for i in a
# a, b, c, d 차례로 돌아가며 값이 들어갔다 나온다. 
a = ['a', 'b', 'c', 'd']

for w, i in enumerate(a)
{0:'a', 1:'b', 2:'c', 3:'d'}

SyntaxError: invalid syntax (2737158552.py, line 1)

In [41]:
for w, i in enumerate(a):
    c.append(i == b[w])
    # b의 w 번째 인덱스랑 i랑 비교
    # c.append(int(a[w] == b[w]))
c
# 오류: [1, 1, 1, 1, 0, True, True, True, True, False] 
# -> c값을 초기화 하지 않아서..

[1, 1, 1, 1, 0, True, True, True, True, False]

In [40]:
False == 0

True

In [42]:
a = [1, 2, 3, 4, 5]
b = [1, 2, 3, 4, 6]
c = []

for i in range(len(a)):
    c.append(a[i] == b[i])
c

[True, True, True, True, False]

In [51]:
c = []
for w, i in enumerate(a):
    c.append(int(a[w] == b[w]))
c

[1, 1, 1, 1, 1]

In [52]:
c = []
c = [int(a[w] == b[w] for w, i in enumerate(a)]
c

SyntaxError: closing parenthesis ']' does not match opening parenthesis '(' (3266852747.py, line 2)

In [45]:
a = [1, 2, 3, 4, 5]
b = []

for i in a:
    b.append(i + 1)
    # a값을 a+1로 치환하고 싶은 상황
b

[2, 3, 4, 5, 6]

In [47]:
a = [1, 2, 3, 4, 5]
b = [i + 1 for i in a]

b

[2, 3, 4, 5, 6]

In [50]:
a = [1, 2, 3, 4, 5]
a = [i**2 for i in a]
# 한 줄 for문 단점: 연산이 복잡해지면 쓰기 쉽지 않다.
a

[1, 4, 9, 16, 25]