In [13]:
import random

stock = int(input("현재 주가: "))
if stock == 10:
    print("이미 최대 주가")
elif stock not in range(10):
    print("error")
else:
    print("현재 주가: {0}".format(stock))
    up = random.random() * 20
    if up <= 16 - stock:
        print("주가 상승")
        print("현재 주가: {}".format(stock + 1))
    else:
        up2 = random.random() * 20
        if up2 <= 14:
            print("주가 유지")
            print("현재 주가 {}".format(stock))
        elif up2 >= 17:
            print("주가 하락")
            print("현재 주가: {}".format(stock - 1))
        else:
            print("주가폭락")

현재 주가: 3
현재 주가: 3
주가 상승
현재 주가: 4

- BUlleted List 1
    - Bulletted List 2

In [17]:
type(1.3)

float

In [18]:
num = 1 
type(num)

int

In [19]:
type("1")

str

In [22]:
lunch1 = "족발"
lunch2 = "곱창"
print("오늘 점심에는 %s을 먹을거야"%lunch1)

오늘 점심에는 족발을 먹을거야

In [24]:
song = "sorry sorry sorry sorry 내가 내가 내가 내가 먼저 네가 빠져 빠져"
song.count("sorry")

4

In [26]:
print(song) -> (괄호 안에 명령을 넣는 것?)함수
song.count("") -> 메소드

SyntaxError: invalid syntax (872034921.py, line 1)

In [50]:
song2 = "     sorry sorry sorry sorry    "
song2.upper()

'     SORRY SORRY SORRY SORRY    '

In [36]:
song2.lower()

'     sorry sorry sorry sorry    '

In [41]:
song2.strip()

'sorry sorry sorry sorry 내가 내가 내가 내가 먼저 네가 빠져 빠져'

In [51]:
song2

'     sorry sorry sorry sorry    '

In [52]:
song2 = song2.upper()
song2 = song2.strip()
song2

'SORRY SORRY SORRY SORRY'

In [46]:
song2 = song2.upper().strip()

In [53]:
song2.replace("S", "W")

'WORRY WORRY WORRY WORRY'

In [54]:
song2.split("RR")

['SO', 'Y SO', 'Y SO', 'Y SO', 'Y']

In [57]:
lyrics = "동해물과 백두산이 마르고 닳도록"
lyrics [5:9]

'백두산이'

In [60]:
7**3
# ** : 제곱

343

In [67]:
"백두산" * 7

SyntaxError: unexpected character after line continuation character (4076284306.py, line 1)

In [70]:
not 1 + 1 != 2

True

In [77]:
test = float(input("숫자 "))

숫자 3

In [78]:
test

3.0

In [79]:
int(3.5)

3

In [80]:
import math
math.ceil(3.3)

4

In [81]:
math.floor(3.3)

3

In [85]:
round(3.612345, 9)

3.612345

In [92]:
a = []
a

[]

In [95]:
b = [1,2,3]
c = ["a","b","c"]
d = [1,3,"w","r"]
e = [1,"b", [2, "e"]]

In [100]:
e[2][0]

2

In [102]:
c[-1]

'c'

In [103]:
a = ()
type(a)

tuple

In [2]:
b = (1,2,3)
c = ("a","b","c")
d = (1,3,"w","r")
e = (1,"b", (2, "e"))

In [4]:
c[2:4]

('c',)

In [5]:
b

(1, 2, 3)

In [9]:
b = [1,2,3]
c = ["a","b","c"]
d = [1,3,"w","r"]
e = [1,"b", [2, "e"]]

In [11]:
b.append(4)
b

[1, 2, 3, 4, 4]

In [100]:
b = [1,2,3]
c = (1,2,3)

In [101]:
b.append(4)
b

[1, 2, 3, 4]

In [102]:
c.append(4)

AttributeError: 'tuple' object has no attribute 'append'

In [99]:
b

NameError: name 'b' is not defined

In [30]:
b.insert(1, 1.5)
b

[1, 1.5, 3, 4]

In [98]:
b[1] = 1.7
b
# 1의 자리의 수를 바꾼다는 뜻?

NameError: name 'b' is not defined

In [97]:
del b[1]
b

NameError: name 'b' is not defined

In [96]:
b.remove(1)
b

NameError: name 'b' is not defined

In [36]:
k = [1,2,1]
k.remove(1)
k

[2, 1]

In [37]:
num = [1, 7, 2, 0, 6]
num.sort()
num
# sort -> 오름차순 정렬

[0, 1, 2, 6, 7]

In [39]:
num = [1, 7, 2, 0, 6]
num.sort(reverse = True)
num
# reverse = True 내림차순

[7, 6, 2, 1, 0]

In [41]:
num = [1, 7, 2, 0, 6]
num.reverse()
num
# 그냥 리버스

[6, 0, 2, 7, 1]

In [42]:
num.sort(reverse) = num.sort().reverse()

SyntaxError: cannot assign to function call (3516318039.py, line 1)

In [49]:
c = ["a","b","c","a"]
c.index("a")
# 중복값이 있어도 맨 앞에 것만 출력한다.

0

In [50]:
c.pop()
c

['a', 'b', 'c']

In [56]:
len(b)
# 원소의 개수
# 튜플에서도 먹힌다.

2

In [59]:
d = [1,2,3,4]
sum(d)/len(d)
# d 원소들의 평균

2.5

In [62]:
menu = ["곱창볶음", "족발", "꽈베기", "순대국밥"]
"떡볶이" not in menu

True

In [63]:
if "떡볶이" in menu:
    print("남성시장으로 간다.")
else:
    print("뒷골목으로 간다.")

뒷골목으로 간다.

In [64]:
# range(양의 정수)
byunsu = range(10)
byunsu

range(0, 10)

In [67]:
byunsu = list(byunsu)
byunsu

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [68]:
# 반복문
for i in range(1, 1001)
print(i)

SyntaxError: invalid syntax (2582521971.py, line 2)

In [69]:
num = 1
while num <= 3:
    print (num)
    num += 1

1
2
3

In [3]:
num = 0
while num < 13:
    print("파이썬 최고!")
    num += 1

파이썬 최고!
파이썬 최고!
파이썬 최고!
파이썬 최고!
파이썬 최고!
파이썬 최고!
파이썬 최고!
파이썬 최고!
파이썬 최고!
파이썬 최고!
파이썬 최고!
파이썬 최고!
파이썬 최고!

In [6]:
num = 1
while true:
    print(num)
    num += 1
    if num > 3:
    break:

IndentationError: expected an indented block (1660154523.py, line 6)

###  두 개의 정수를 받아서 그 합을 츨력하는 무한루프 함수를 만들어보다. 
- 단 두 정수 모두 0으로 받을 경우 게임 종료

In [13]:
while True:
    num1 = int(input("정수를 입력하세요: "))
    num2 = int(input("정수를 입력하세요: "))
    
    if (num1 == 0) and (num2 == 0):
        break
    print(num1 + num2)

정수를 입력하세요: 2
정수를 입력하세요: 3
5
정수를 입력하세요: 4
정수를 입력하세요: 3
7
정수를 입력하세요: 0
정수를 입력하세요: 0

### 다이어트 관리 프로그램
- 현재의 몸무게를 정수로 받는다. 
- 목표 몸무게를 정수로 받는다.
- 매일 감량한 몸무게를 입력 받아서, 목표 몸무게에 도달하면 "목표 달성을 출력한 뒤 프로그램 종료."

In [26]:
while True:
    nowWeight = int(input("현재 몸무게를 입력하세요: "))
    goalWeight = int(input("목표 몸무게를 입력하세요: "))
    loseWight = int(input("감량한 몸무게를 입력하세요: "))
    
    if (nowWeight-loseWight <= goalWeight):
        print("목표 몸무게에 도달했습니다. 종료.")
        break
        
    print("남은 몸무게: ", abs(goalWeight - nowWeight))

현재 몸무게를 입력하세요: 50
목표 몸무게를 입력하세요: 40
감량한 몸무게를 입력하세요: 20
목표 몸무게에 도달했습니다. 종료.

In [30]:
nowWeight = int(input("현재 몸무게를 입력하세요: "))
goalWeight = int(input("목표 몸무게를 입력하세요: "))

while nowWeight > goalWeight:
    loseWight = int(input("감량한 몸무게를 입력하세요: "))
    nowWeight -= loseWight
    
    
print("목표 몸무게에 도달했습니다. 종료.")

현재 몸무게를 입력하세요: 50
목표 몸무게를 입력하세요: 40
감량한 몸무게를 입력하세요: 5
감량한 몸무게를 입력하세요: 5
목표 몸무게에 도달했습니다. 종료.

In [47]:
import random
k = random.randint(1, 100)
count = 0

while True:
    i = int(input("정수 입력: "))
    count += 1
    if (k > i):
        print("더 큰 수를 입력하세요.")
    elif (k < i):
        print("더 작은 수를 입력하세요.")
    else:
      print("정답입니다.")
      break
print("{}번 만에 성공했습니다. End..".format(count))

정수 입력: 50
더 큰 수를 입력하세요.
정수 입력: 60
더 작은 수를 입력하세요.
정수 입력: 55
더 큰 수를 입력하세요.
정수 입력: 57
정답입니다.
4번 만에 성공했습니다. End..

In [48]:
food_list = ["족발", "곱창", "꽈베기"]
for food in food_list:
    # 인덱싱이 가능한 개체: 튜플, 문자열...
    print("오늘 점심은 {}로 정했어.".format(food))

오늘 점심은 족발로 정했어.
오늘 점심은 곱창로 정했어.
오늘 점심은 꽈베기로 정했어.

In [53]:
hello = "안녕하세요"
for i in hello:
    print(i)

안
녕
하
세
요

In [54]:
for i in range(13):
    print("파이썬 최고!")

파이썬 최고!
파이썬 최고!
파이썬 최고!
파이썬 최고!
파이썬 최고!
파이썬 최고!
파이썬 최고!
파이썬 최고!
파이썬 최고!
파이썬 최고!
파이썬 최고!
파이썬 최고!
파이썬 최고!

In [55]:
for i in range(13):
    # range를 사용하면 몇 번 반복하라고 명확하게 지시 가능.
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12

In [76]:
sum_i = 0
for i in range(101):
    sum_i += i
print(sum_i)

# 오류1: 반복문이 실행될 때 마다 sum_i의 값을 0으로 초기화했다. 
# -> sum_i선언을 반복문 밖으로 뺀다.
# 오류2: 출력값이 하나만 나오지 않고 로그 전체가 출력
# -> 들여쓰기로 출력값의 범위를 바꾼다.

5050

**1에서 100까지의 자연수 중 3의 배수의 합은?**

In [81]:
sum_i = 0
for i in range(101):
    if (i % 3 == 0):
        sum_i += i
print(sum_i)

1683

**구구단을 출력하시오**

In [92]:

if (i != 0):
    for i in range(10):
    if (y != 0):
        for y in range(10):
    print(i * y)
    print("i x y = ", i * y)

IndentationError: expected an indented block (1623550348.py, line 3)

In [95]:
for i in range(2, 10):
    for w in range(2, 10):
        print("{0} x {1} = {2}".format(i, w, i*w))

2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [131]:
new_id = input("아이디를 입력하시오.")


# 1단계
new_id = new_id.lower()

# 2단계
allowed = []
new_id2 = new_id
for i in new_id2:
    if i not in allowed:
        new_id.replace(i, "")


# 3단계

while ".." in new_id:
    new_id.replace("..", ".")
    
# 4단계
while new_id[0] == ".":
    new_id = new_id[1:]
while new_id[-1] == ".":
    new_id = new_id[:-1]
    
# 5단계
if new_id == "":
    new_id = "a"

    
# 6단계
if len(new_id) >= 16:
    new_id = new_id[:15]
    while new_id[-1] == ".":
        new_id = new_id[-1]

# 7단계
while len(new_id) < 3:
    new_id += new_id[-1]
    
    
print(new_id)

아이디를 입력하시오.=.=
=.=

In [ ]:
new_id = str(input("아이디를 입력하시오."))

while ".." in new_id:
    new_id.replace("..", ".")

    if new_id[0] == ".":
        new_id.replace(".", "")
    elif new_id[-1] == ".":
        new_id.replace(".", "")
    else:
        pass
print(new_id)

In [125]:
new_id = str(input("아이디를 입력하시오."))

while True:
    if len(new_id) <= 2:
        new_id.append(new_id[-1])
    elif len(new_id) == 3:
        break
print(new_id)

# append는 리스트일 때만 사용 가능.

아이디를 입력하시오.qw

AttributeError: 'str' object has no attribute 'append'

In [134]:
new_id = input("아이디를 입력하시오.")


# 1단계
new_id = new_id.lower()

# 2단계
allowed = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p'
           ,'q','r','s','t','u','v','w','x','y','z','0','1','2','3','4','5','6','7','8',
          '9','-','_','.','=']
new_id2 = new_id
for i in new_id2:
    if i not in allowed:
        new_id.replace(i, "")


# 3단계

while ".." in new_id:
    new_id.replace("..", ".")
    
# 4단계
while new_id[0] == ".":
    new_id = new_id[1:]
while new_id[-1] == ".":
    new_id = new_id[:-1]
    
# 5단계
if new_id == "":
    new_id = "a"

    
# 6단계
if len(new_id) >= 16:
    new_id = new_id[:15]
    while new_id[-1] == ".":
        new_id = new_id[-1]

# 7단계
while len(new_id) < 3:
    new_id += new_id[-1]
    
    
print(new_id)

아이디를 입력하시오.=.=
=.=

In [133]:
try:
    print(1/10)
    # 그 조건을 일단 해봐라
except:
    print("인되네..")
    # 만약 시도했는데 안되면 제외?

0.1

In [ ]:
for i in range(10):
    print(1/)

In [148]:
try:
    x = int(input("3의 배수를 입력: "))
    if x%3 != 0:
        raise Exception("3의 배수가 아닙니다.")
        # 내가 커스터마이징한 경고문
    else:
        print(x)
except Exception as e:
    # 파이썬이 지정한 오류에 내가 추가 설명을 하는 것
    print("숫자를 입력하세요.")

3의 배수를 입력: 49
숫자를 입력하세요.

1. try, except

2. raise Exception
 - 파이썬은 괜찮지만 내가 커스터마이징한 에러를 만든다. 
 - 오류를 발생시킴
3. except Exception as e
 - 파이썬이 용납하지 안하는 경우는 try를 써야한다.

In [143]:
for i in range(10):
    try:
        print(1/(7-i))
    except:
        print("에러")

0.14285714285714285
0.16666666666666666
0.2
0.25
0.3333333333333333
0.5
1.0
에러
-1.0
-0.5

In [150]:
while True:
    try:
        a = int(input("정수 입력: "))
        if(a < 1): 
            raise Exception("정수만 입력하라고")
        elif a != 정수
            
        
print(a)

SyntaxError: invalid syntax (1383122442.py, line 6)

In [ ]:
try
a = int(input("정수 입력: "))
while type(a) != int:
    print("정수를 입력하라고!")
    a = int(input("정수 입력: "))
        print("정수를 입렭하세요: ")